@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/nanumbrushscript.css);
@charset "utf-8";

/* new */
.nmileage_wrap { font-family:'Nanum Gothic'; }
.mileage_box dl { border:1px solid #ddd; margin-bottom:10px; overflow:hidden; background:#f9f9f9; line-height:2em; }
.mileage_box dt { float:left; width:85px; margin:0; padding-left:10px; font-weight:bold; font-size:0.9em; }
.mileage_box dd { background:#fff; overflow:hidden; padding:0 10px; font-size:0.9em; position:relative; margin:0; }
.mileage_box .order_num { text-decoration:none; color:#ff0000; font-weight:bold; }
.nmileage_wrap h2 { font-weight:bold; letter-spacing:-0.1em; font-size:1.5em; border-bottom:1px solid #ddd; line-height:1.7em; color:#555; }
.nm_tit { margin-bottom:20px; font-size:0.9em; color:#666; }
.mileage_total { font-size:0.9em; font-family:'Nanum Gothic'; font-weight:600; padding:13px; background:#f1f1f1; border:1px solid #ccc; border-radius:5px; margin-bottom:20px; }
.m_point { color:#ff0000; font-size:0.9em; }
.nmileage_wrap { padding:10px; background:#fff; }
.nmileage_tit { background:#eee; }
.nmileage_wrap .m_title{ text-align:left; margin-bottom:10px; }


/* custom
---------------------------------------- */

/* mileage */
.container .nmileage_wrap {
    padding: 10px 0;
}
.nmileage_wrap .nm_tit {
    margin-top: 10px;
    padding-left: 10px;
}
.nmileage_wrap .nm_tit h2 {
    color: #969696;
    border-bottom: none;
    margin-bottom: 10px;
    font: 600 20px 'Nanum Gothic', sans-serif;
}
.nmileage_wrap .nm_tit span {
    color: #666;
    font-size: 14px;
}
.nmileage_wrap .mileage_total {
    padding: 0;
    height: 50px;
    border-radius: 0;
    border-left: none;
    border-right: none;
    border-color: #ddd;
    border-top-width: 2px;
    background-color: #f7f5f8;
    font: 400 16px/50px 'Nanum Gothic', sans-serif;
}
.nmileage_wrap .mileage_total span {
    display: block;
    height: 100%;
    text-indent: 10px;
    color: #555;
    position: relative;
}
.nmileage_wrap .mileage_total span span {
    width: 150px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    color: #ff0000;
    font-weight: 600;
    background-color: #fff;
}
.nmileage_wrap .mileage_box {
    font: 400 12px 'Nanum Gothic', sans-serif;
}
.nmileage_wrap .pagination strong {
    margin: 0 10px;
}
